<footer class="footer">
    <p>This page is created by
        <a href="mailto:{{meta.authorEmail}}">{{meta.authorName}}</a>
        </p>

            <p>this is version {{ pkg.version }} of this site and the source is avalible on
                <a href="{{ pkg.homepage }}">Github</a>.
                </p>
        
        </footer>
    </p>