<footer class="footer">
    <hr size="2" width="90%" color="#705D56">
    <p>This page is created by
        <a href="mailto:{{ meta.author.email}}">{{meta.author.name}}</a>
        </p>

            <p>this is version {{ pkg.version }} of this site and the source is avalible on
                <a href="{{ pkg.homepage }}">Github</a>.
                </p>
        
        </footer>
    </p>