<footer class="footer textures">
    <div class="text">
    <p>This page is created by
        <a href="mailto:{{ meta.author.email}}">{{meta.author.name}}</a>
        </p>

            <p>this is version {{ pkg.version }} of this site and the source is avalible on
                <a href="{{ pkg.homepage }}">Github</a>.
                </p>
            </div
        </footer>