{% if navigation.items %}
    <nav class="navbar">
        <h1 class="title">CBB Archives</h1>

        <ul>
            {% for item in navigation.items %}
                <a href="{{ item.url }}">
                    <li>
                            {{ item.text }}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </nav>
{% endif %}