{% if navigation.items %}
    <nav class="navbar">
        <h1>CBB Archives</h1>

        <ul>
            {% for item in navigation.items %}
                <a href="{{ item.url }}">
                    <li>
                            {{ item.text }}
                    </li>
                </a>
                <hr size="1" width="20%" color="#705D56">
            {% endfor %}
        </ul>
    </nav>
{% endif %}