<ul class="list">
    {% for post in collections.post %}
        <a href="{{ post.url }}">
            <li class="list-item">
                {{ post.data.title }}
                {% if post.data.excerpt %}
                    <p>{{ post.data.excerpt }}</p>
                {% endif %}
                <hr class="divider" size="1" width="15%" color="#705D56"></li>
            </a>
        {% endfor %}
    </ul>