<ul class="list">
    {% for post in collections.post %}
        <a href="{{ post.url }}">
            <li>
                <h3>{{ post.data.title }}</h3>
                {% if post.data.excerpt %}
                    <p class="description">{{ post.data.excerpt }}</p>
                {% endif %}
            </li>
            </a>
        {% endfor %}
    </ul>