<ul class="list">
    {% for item in repos %}
        <a target="_blank" href="{{item.html_url}}">
            <li class="list-item">
                <h3>{{item.name}}</h3> 
                <p class="description">
                {% if item.description|length %}
                    {{item.description}}
                {% else %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum illo consequatur necessitatibus! Ullam, rerum. Nisi, quidem odit? Obcaecati nobis.               
                {% endif %}
                </p>
            </li>
        </a>
    {% endfor %}
</ul>