.footer {
    margin-top: 10%;
    margin-top: auto;
    background: #666A86;  
    width: 100%;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    a {
        color: lightgrey;
    }

    p {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        margin: 0.5rem;
        padding: 0.2rem;
    }
}
