.footer {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #3f4045;
    padding: 1%;
    a {
        color: white;
    }

    p {
        color: white;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 0.2rem;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 0;
        background-color: #02111b;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .text {
            border-radius: 0 0 20px 20px;
            margin-top: 0;
            margin-bottom: 2rem;
            max-width: 60%;
            width: 100%;
            background-color: #3f4045;
        }
    }

    .f-textures {
        background:
        radial-gradient(#3f4045 4px, transparent 4px),
        radial-gradient(#3f4045 4px, transparent 4px),
        linear-gradient(#000 2px, transparent 4px),
        linear-gradient(45deg, transparent 74px, transparent 75px, #3f4045 75px, #3f4045 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #3f4045 76px, #3f4045 77px, transparent 78px, transparent 109px),
        #000;
        background-size: 109px 110px, 109px 110px,100% 8px, 109px 109px, 109px 110px;
        background-position: 55px 56px, 1px 0px, 0px 0px, 1px 1px, 1px 0px;
    }
}
