.footer {
    margin-top: 10%;
    margin-top: auto;
    background: #0082e6;  
    width: 100%;
    color: white;
    padding-left: 10%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    a {
        color: lightgrey;
    }

    p {
        margin: 0.5rem;
        padding: 0.2rem;
    }
}
