.navbar {
    width: 100%;
    background-color: #02111b;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: bold;
        font-style: normal;
    }

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        max-width: 80%;
        width: 100%;
        margin: auto;
        display: flex;
        background-color: #3f4045;
        justify-content: center;
        border-radius: 20px 20px 0 0;
        a {
            padding: 3%;
            width: 100%;
            border-radius: 20px 20px 0 0;
            font-family: sans-serif;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        ul {
            max-width: 60%;
            width: 100%;
            a {
                padding: 1rem 0 1rem 0;
                font-size: 1.5rem;
            }
        }
    }
}
