@import 'reset';

@import 'type';

@import 'utility/container';

@import 'components/navigation';

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-family: 'Merriweather', serif;
}

h1 h2 h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DADADA;
}

main {
    padding: 5%;
    max-width: 95%;
    background-color: white;
    flex-grow: 1;
}

.list {
    a {
        text-decoration: none;
        color: black;
        margin: 1%;
    }

    h3 {
        font-size: 1.2rem;
    }
}

.title {
    margin-bottom: 2%;
}

.description {
    margin-left: 1%;
}


.textures {
    background:
    radial-gradient(#3f4045 4px, transparent 4px),
    radial-gradient(#3f4045 4px, transparent 4px),
    linear-gradient(#000 2px, transparent 4px),
    linear-gradient(45deg, transparent 74px, transparent 75px, #3f4045 75px, #3f4045 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #3f4045 76px, #3f4045 77px, transparent 78px, transparent 109px),
    #000;
    background-size: 109px 110px, 109px 110px,100% 8px, 109px 109px, 109px 110px;
    background-position: 55px 56px, 1px 0px, 0px 0px, 1px 1px, 1px 0px;
}

@import 'components/footer';

@media screen and (min-width: 768px) {
    .title {
        margin: 1%;
    }

    main {
        max-width: 60%;
        margin: 0;
        width: 100%;
        padding: 2rem 3rem 2rem 3rem;
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }

}
