@import 'reset';

@import 'type';

@import 'utility/container';

@import 'components/navigation';

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-family: 'Merriweather', serif;
}

h1 h2 h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DADADA;
}

main {
    padding: 5%;
    max-width: 95%;
    background-color: white;
    flex-grow: 1;
}

.list {
    a {
        text-decoration: none;
        color: black;
        margin: 1%;
    }

    h3 {
        font-size: 1.2rem;
    }
}

.title {
    margin-bottom: 2%;
}

.description {
    margin-left: 1%;
}

@import 'components/footer';

@media screen and (min-width: 768px) {
    .title {
        margin: 1%;
    }

    main {
        max-width: 60%;
        margin: 0;
        width: 100%;
        padding: 2rem 3rem 2rem 3rem;
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }

}
